@tailwind base;
@tailwind components;
@tailwind utilities;


.hero__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: right;

}
.hero__subtitle img{
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
    position: relative;

}
.hero__content {
    font-size:1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
    margin-left: 25px;

}
.hero__content h1 .highlight{
    color: var(--secondary-color);
    font-size: 2.2rem;

}

.hero__content h1{
    font-size: 2.2rem;

}
.hero__content p {
    font-size: 0.9rem;
    font-weight: 400;


}

.hero__img-box img, .hero__img-box video{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;


}
.hero__img-box img{
    padding-top: 2rem;
}
.hero__media img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hero__media video:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.hero__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.hero__content {
    flex: 1;
    padding-top:3.5rem ;
}

.hero__media {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.hero__image,
.hero__video {
    width: 100%;
    max-width: 30%;
    border-radius: 10px;
    object-fit: cover;
}

.services__subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    margin-left: 3rem;
    margin-top: 2rem;
    font-family: var(--subtitle-font-name);

}
.services__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 3rem;
}

/*//=======================title css==============*/
.featured__tour-title{
    font-size: 1.8rem;
    font-weight: 500;
}

/*//===================experience css ==============//*/

.experience__content {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0;
}
.experience__content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter__wrapper{
    margin-top: 1rem;
}
.counter__box span{
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
    margin: 0 2px 2px 10px;
}
.counter__box span h6{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0.7rem;
}
.experience__img{
    margin-top: 0;
    width: 400px;
    height: 400px;
    margin-left: 60%;
    justify-content: start;
    align-items: start;
    object-fit: cover;
    position: absolute;
}

/*//==================gallery css==================*/

.gallery__title{
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2px;
    margin-right: 20px;
}
.masonry__img{
    margin-top: 30px;
    transition: 0.3s;
    width: 50%;
    height: 50%;
    margin-right: 30px;

}
.masonry__img:hover{
    transform: scale(1.1);
}
