@tailwind base;
@tailwind components;
@tailwind utilities;


.hero__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: right;

}
.hero__subtitle img{
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
    position: relative;

}
.hero__content {
    font-size:1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
    margin-left: 25px;

}
.hero__content h1 .highlight{
    color: var(--secondary-color);
    font-size: 2.2rem;

}

.hero__content h1{
    font-size: 2.2rem;

}
.hero__content p {
    font-size: 0.9rem;
    font-weight: 400;


}

.hero__img-box img, .hero__img-box video{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;


}
.hero__img-box img{
    padding-top: 2rem;
}
.hero__media img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hero__media video:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.hero__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.hero__content {
    flex: 1;
    padding-top:3.5rem ;
}

.hero__media {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.hero__image,
.hero__video {
    width: 100%;
    max-width: 30%;
    border-radius: 10px;
    object-fit: cover;
}

.services__subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    margin-left: 3rem;
    margin-top: 2rem;
    font-family: var(--subtitle-font-name);

}
.services__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 3rem;
}