
.pagination-col{
    margin-left: 40rem;
}

.pagination {
    display: flex; /* Arrange items in a row */
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Add spacing between buttons */
    margin-top: 20px; /* Add some space above the pagination */
}

.pagination span {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
    font-size: 15px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.pagination span:hover {
    background-color: #cc6e10;
    color: white;
}

.pagination .active__page {
    background-color: #cc6e10;
    color: white;
    font-weight: bold;
    border-color: #d89951;
}
